.register-container {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #f0f2f5;
    .register-content {
        background: white;
        border-radius: 12px;
        margin-top: 24px;
        box-shadow: 5px 5px 8px 5px #cfc2c2;
        .title-register {
            padding: 20px;
            text-transform: uppercase;
            color: greenyellow;
            font-weight: 600;
            text-align: center;
        }

        .select-radio {
            display: flex;
            gap: 15px;
            .select-item {
                border: 1px solid #dee2e6;
                border-radius: 4px;
                padding: 2px 8px;

                &.radio-invalid {
                    border: 1px solid #dc3545;
                    border-radius: 4px;
                    padding: 2px 8px;

                    background-color: #f8d7da;
                }

                &.radio-valid {
                    border: 1px solid #28a745;
                    border-radius: 4px;
                    padding: 2px 8px;

                    background-color: #d4edda;
                }
            }
        }
        .btn-register {
            margin-top: 24px;
            &:hover {
                transform: translateY(-1px);
            }
        }
        .parent-already {
            padding: 24px 0;
            .already {
                margin-top: 8px;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: blue;
                    transform: translateY(-1px);
                }
            }
        }
    }
}
